.game_bg {
  .back {
    @include breakpoint(max-width 768px){
      font-size: 1.2rem;
      left: 50%;
      transform: translateX(-50%);
    }
    position: absolute;
    left: 0;
    bottom: 0;
    width: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #ff5b25;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    font-weight: 500;

    img {
      height: 30px;
    }
  }
  .logo {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    @include breakpoint(max-width 768px){
      display: block;
    }
  }
  .instruction {
    @include breakpoint(max-width 768px){
      width: 150px;
    }
    width: 200px;

    .luckyCat {
      cursor: pointer;
    }

    position: fixed;
    cursor: pointer;
    z-index: 99;
    top: 0;
    right: 0;
  }

  .cover {
    &--paidajin-roulette {
      @include breakpoint(max-width 768px){
        background-image: url(../../build/images/paidajin/BG-m.png);
      }
      background-image: url(../../build/images/paidajin/BG_Pai.png);
    }
    &--paidajin-slot {
      padding: 20px 40px;
      @include breakpoint(max-width 768px){
        background-image: url(../../build/images/paidajin/slot/BG-m.png);
      }
      background-image: url(../../build/images/paidajin/slot/BG.png);
    }
    &--rennibo-slot {
      @include breakpoint(max-width 768px){
        background-image: url(../../build/images/rennibo/slot/BG-m.png);
      }
      background-image: url(../../build/images/rennibo/slot/BG.png);
    }
    .KV {
      @include breakpoint(max-width 768px){
        display: none;
      }
    }
    .KV-m {
      display: none;
      @include breakpoint(max-width 768px){
        display: block;
        flex: 0 1 auto;
      }
    }

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../build/images/rennibo/任你博-roulette_coverBG.png);
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../../build/images/rennibo/game_bg.jpg);
  background-size: cover;
  background-position: center;

  .records {
    @include breakpoint(max-width 500px){
      width: 100%;
      flex-wrap: wrap;

    }
    width: 500px;
    background-image: linear-gradient(179deg, #FFF3A7 0%, #331B1D 29%, #0D0C0C 42%, #7D552B 100%);
    border: 1px solid #600000;
    border-radius: 38px;
    margin: 20px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-evenly;

    .item {
      &:first-child {
        @include breakpoint(max-width 500px){
          flex: 1 1 100%;
          margin-bottom: 10px;
          text-align: center;
          border-bottom: 1px solid #600000;
          padding-bottom: 6px;
        }

      }
      color: #fff;

      .yellow {
        color: yellow;
      }
    }
  }

  .roulette {
    height: 90%;
    @include breakpoint(max-width 768px) {
      height: auto;
      flex: 0 1 auto;
    }

    img {
      @include breakpoint(max-width 768px) {
        height: auto;
        flex: 0 1 auto;
      }
      height: 100%;
    }
  }
}

.modal {
  &.show {
    display: block;
  }

  display: none;
  background-color: deepskyblue;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .close {
    @include breakpoint(max-width 768px){
      height: 50px;
    }
    height: 100px;
  }

  .board {
    @include breakpoint(max-width 768px){
      margin-top: 50px;
      padding: 20px;

    }
    margin-top: 140px;
    position: relative;
    padding: 60px;
    border: 4px solid white;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;

    .title {
      @include breakpoint(max-width 768px){
        font-size: 1.5rem;

      }
      position: absolute;
      padding: 0 15px;
      left: 50%;
      top: -10%;
      background-color: deepskyblue;
      transform: translateX(-50%);
      color: #fff;
      font-size: 2.5rem;

    }

    p {
      @include breakpoint(max-width 768px){
        font-size: 1.0rem;

      }
      text-align: center;
      font-size: 1.875rem;
      color: white;
      line-height: 1.875;
    }
  }

  .flexContainer {

    @include breakpoint(max-width 768px){
      flex-direction: column;
      margin-top: 10px;
      overflow-y: scroll;
    }
    &--slot {
      @include breakpoint(max-width 768px){
        margin-top: 20px;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    .card {

      @include breakpoint(max-width 768px){
        flex-direction: row;
        margin-bottom: 10px;
        padding: 10px;
        img {
          max-width: 50px;
        }
      }
      &--x4 {
        @include breakpoint(max-width 768px){
          flex: 0 1 50%;
          padding: 0;
          img {
            max-width: 100%;
          }
        }
        background-image: none;
        box-shadow: none;
        flex: 0 1 24%;
        padding: 0;
      }
      .awards {
        padding: 10px;
        font-size: 1.5rem;
        font-weight: 700;
      }

      .content {
        line-height: 1.5;
        text-align: center;
      }

      border-radius: 12px;
      flex: 0 1 19%;
      padding: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
      background: linear-gradient(0deg, rgba(255, 230, 69, 1) 0%, rgba(253, 255, 119, 1) 100%);
    }
  }
}